# File /etc/systemd/system/docker-chicken-farm.service

[Unit]
Description=starts chicken-farm  server provided as Docker container
After=docker.service
Requires=docker.service

[Service]
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker stop chicken-farm
ExecStartPre=-/usr/bin/docker rm chicken-farm
ExecStartPre=-/usr/bin/docker pull stephanst/chicken-farm:latest
ExecStart=/usr/bin/docker run -d --restart unless-stopped \
  -p 8080:8080 --network="host" \
  --env SLACK_CHANNEL=xxxxx --env SLACK_TOKEN=xxxxx \
  --env MESSENGER_ENABLED=true --env SCHEDULER_FIXED_RATE=60000  \
  --name chicken-farm stephanst/chicken-farm:latest
ExecStop=/usr/bin/docker stop chicken-farm
TimeoutSec=300

[Install]
WantedBy=multi-user.target